<%= render 'banner' %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card text-center">
          <%= link_to cocktail_path(cocktail), class: "a" do %>
    <% photo = cocktail.photo? ? cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill) : 'http://healthyrise.com/wp-content/uploads/2016/07/Cocktail-7.jpg'%>

        <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>')"></div>
        <div class="card-category"><h4 class="cocktail-name"><%= cocktail.name %></h4></div>
      </div>
    <% end %>
    </div>
      <% end %>
  </div>

</div>
