
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.banner h1 {
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}
.banner h4 {
  font-size: 35px;
  // font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
  font-family: 'Poiret One', cursive;
}
.btn {
  background: linear-gradient(to left,#2b5876 ,#4e4376);
  color: white;
  padding: 15px 30px;
  opacity: 0.8;
}
.btn:hover {
  background: linear-gradient(to left,#2b5876 ,#4e4376);
  color: white;
  opacity: 1;
}
// .fa {
//   color: white;
//   vertical-align: bottom;
//   position: absolute;
// }
